@using FootballManagerAnalyzer.Application.Models
@using FootballManagerAnalyzer.UI.Services.Interfaces

@inject IFileParser FileParser

@rendermode InteractiveServer

<h2>Squad Upload</h2>
<div>
    <InputFile class="btn btn-primary" OnChange="UploadData" accept=".rtf"></InputFile>
</div>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div>@ErrorMessage</div>
}

@code {
    [Parameter]
    public EventCallback<IEnumerable<Player>> OnUpload { get; set; }

    public IEnumerable<Player> PlayerData { get; set; } = new List<Player>();

    private string ErrorMessage;

    public async void UploadData(InputFileChangeEventArgs e)
    {
        ErrorMessage = null;

        if (!e.File.Name.EndsWith(".rtf"))
        {
            ErrorMessage = "Invalid file type - please upload a .rtf export from your FM24 save.";
            return;
        }

        try
        {
            PlayerData = await FileParser.ParseAsync(e.File);

            // TODO: Handle Better
            if (PlayerData == null)
            {
                ErrorMessage = "An error occured while parsing player data";
            }

            await OnUpload.InvokeAsync(PlayerData);
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}